h1{

color:cornflowerblue;
font-family: cursive;


}


h2{

font-size:30px;
color:crimson;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

p{

text-transform: capitalize;   
}


h3{
text-align: center;
color: aqua;
font-size: 30px;
}

p{

font-family:cursive;
}